.field {
    height: 40px;
    width: 40px;
    background-color: coral;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.white {
    height: 40px;
    width: 40px;
    background-color: #FFF;
    border-radius: 100px;
}

.red {
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 100px;
}

.yellow {
    height: 40px;
    width: 40px;
    background-color: yellow;
    border-radius: 100px;
}